
$main-dark:#1a1a1a;
$bg-light:#f8f8f8;
$akcent: #f5b858;
$akcent-dark:#f3a220;
$main-text-color: #a8a8a8;
$gray-light:#e2e1e1;
$akcent-green : rgb(25, 172, 25);

$app-height: 90vh;
$header-height: 80px;
